/* General */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width:80vw;
    margin: auto;
    padding: 20px 0px;
}

footer {
    padding: 10px;
    background-color: rgb(235, 182, 69);
}

h2 {
    margin-top: 40px;
}

/* Main navigation */
nav {
    padding: 10px;
    background-color: rgb(235, 182, 69);
}

nav > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav > ul > li {
    padding: 10px;
}

/* Bucketlist */
article {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 15px;
    line-height: 0.8rem;
    margin: 20px 0px;
    background-color: rgb(243, 243, 243);
}

.priority1 {
    border-left: 5px solid red;
}

.priority2 {
    border-left: 5px solid rgb(255, 153, 0);
}

.priority3 {
    border-left: 5px solid rgb(71, 158, 54);
}

.displayDate {
    margin-top: 20px;
}

.checkBox {
    width: 20px;
    height: 20px;
    margin-left: auto;
    background-color: white;
    border-radius: 5px;
    border: solid 1px rgb(173, 173, 173);
}

.checkBox:hover {
    cursor: pointer;
    background-color: rgb(120, 207, 113);
    box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
}

.confirmMessage {
    position:fixed;
    bottom: 40px;
    left: 45%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(255,165,0,0.5);
    animation-name: hideMessage;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

/* Form */
input:not(.addBtn), textarea { 
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px;
}

select { 
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
}

label {
    line-height: 1.5rem;
}

.addBtn {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(228, 128, 15);
}

.addBtn:hover {
    cursor: pointer;
    background-color: rgb(202, 114, 13);
}

/* Animation to hide message */
@keyframes hideMessage {
    to {
        height: 0px;
        width: 0px;
        overflow: hidden;
        display: none;
    }
}